@mixin display-2xl {
  font-size: 4.5rem;
  line-height: 5.625rem;
  letter-spacing:  -1px;
}

@mixin display-xl {
  font-size: 3.75rem;
  line-height: 4.5rem;
  letter-spacing: -1px;
}

@mixin display-lg {
  font-size: 3rem;
  line-height: 3.75rem;
  letter-spacing: -1px;
}

@mixin display-md {
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing:  -1px;
}

@mixin display-sm {
  font-size: 1.875rem;
  line-height: 2.375rem;
}

@mixin display-xs {
  font-size: 1.5rem;
  line-height: 2rem;
}

@mixin text-xl {
  font-size: 1.25rem;
  line-height: 1.875rem;
}

@mixin text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@mixin text-md {
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin text-xs {
  font-size: 0.75rem;
  line-height: 1.125rem;
}

@mixin font-normal {
  font-weight: 400;
  font-style: normal;
}

@mixin font-semi-bold {
  font-weight: 600;
  font-style: normal;
}

@mixin font-bold {
  font-weight: 700;
  font-style: normal;
}
