<div class="footer-container">
  <div class="content">
    <div class="top">
      <p>
        Partes dos materiais utilizados são <span class="destaque">marcas registradas</span> e/ou <span
          class="destaque">obras protegidas por direitos autorais</span> da <span class="destaque">Behavior<br />
          Interactive Inc</span> Este material <span class="destaque">não é oficial</span> e <span class="destaque">não
          é endossado</span> pela Behavior.
      </p>
      <div class="aviso">
        <img src="/assets/18anos.png" alt="">
        Violência extrema, Compras<br /> On-line, Interação de usuários
      </div>
    </div>
    <div class="bottom">
      Powered by <span class="marca">
        <img src="/assets/explow.svg" alt="">
      </span>
    </div>
  </div>
</div>
